# Node
node_modules/

# Build
dist/
build/

# Environment
.env

# VSCode
.vscode/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Media caches
*.tmp

# IDE files
.idea/

# Generated folders
coverage/
